<!-- movies/templates/movies/register.html -->
{% extends "movies/base.html" %}

{% block article %}
<div class="mt-5 flex justify-center">
    <div class="max-w-xl w-full bg-blue-700 text-white p-8 rounded-lg shadow-md">
        <h1 class="text-center text-2xl font-poppins mb-5">Register</h1>
        <h2 class="text-center text-5xl font-poppins my-10">📝</h2>
        <form method="post" class="mb-8">
            {% csrf_token %}
            <div class="mb-4 text-center">
                <label for="id_username" class="block text-white text-sm font-bold mb-2">Username</label>
                <div class="relative text-black inline-block">
                    {{ form.username }}
                </div>
            </div>
            <div class="mb-4 text-center">
                <label for="id_password1" class="block text-white text-sm font-bold mb-2">Password</label>
                <div class="relative text-black inline-block">
                    {{ form.password1 }}
                    <button type="button" class="absolute inset-y-0 right-0 px-3 py-2 text-white" id="toggle-password1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 hover:text-gray-700 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0zM9 12s1.5 2 3 2 3-2 3-2m-9 3.5a9.31 9.31 0 0012 0m-12 0a9.31 9.31 0 0012 0m-12-9a9.31 9.31 0 0012 0m-12 0a9.31 9.31 0 0012 0" />
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mb-4 text-center">
                <label for="id_password2" class="block text-white text-sm font-bold mb-2">Confirm Password</label>
                <div class="relative text-black inline-block">
                    {{ form.password2 }}
                    <button type="button" class="absolute inset-y-0 right-0 px-3 py-2 text-white" id="toggle-password2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 hover:text-gray-700 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0zM9 12s1.5 2 3 2 3-2 3-2m-9 3.5a9.31 9.31 0 0012 0m-12 0a9.31 9.31 0 0012 0m-12-9a9.31 9.31 0 0012 0m-12 0a9.31 9.31 0 0012 0" />
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="text-center"> <!-- Contenedor para centrar el botón -->
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 focus:outline-none focus:shadow-outline">
                    Register
                </button>
            </div>
        </form>
        <div class="text-center mt-4">
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{% url 'login' %}">
                Already have an account? Sign In
            </a>
        </div>
    </div>
</div>

<script>
    const togglePassword1 = document.getElementById('toggle-password1');
    const passwordField1 = document.getElementById('id_password1');
    const togglePassword2 = document.getElementById('toggle-password2');
    const passwordField2 = document.getElementById('id_password2');

    togglePassword1.addEventListener('click', function() {
        const type = passwordField1.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField1.setAttribute('type', type);
    });

    togglePassword2.addEventListener('click', function() {
        const type = passwordField2.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField2.setAttribute('type', type);
    });
</script>

{% endblock %}